// h1 {
//   text-decoration: underline;
// }

.header {
  background-color: #00853B;
  background-image: linear-gradient(to left, transparent, #03803B, #1D5237);
  padding: 20px;
}

.container {
  margin-top: 80px;
  margin-bottom: 80px;
}

.img-card-user {
  width: 220px;
  border-radius: 50%;
}

.img-mini-card {
  width: 50px;
}

.centered {
  margin: 0 auto !important;
  float: none !important;
}

.title-header {
  display: flex;
  justify-content: right;
  margin-right: 25px;
  font-family: 'isidora';
  color: #FFF;
  font-size: 40px;
  margin-top: 30px;
}

@import "~bootstrap/scss/bootstrap";
